@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gradient-to-br from-sweat-purple to-sweat-pink;
    font-family: var(--font-inter);
  }
}

@layer utilities {
  .gradient-text {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-sweat-purple to-sweat-pink;
  }
}
